/* https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */
/* Clolor pallete used */

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #2f3e46;
  color: #cad2c5;
}

p {
  border: 6px solid #84a98c;
  color: #cad2c5;
  width: 50%;
  font-size: 1.25rem;
  padding: 1rem;
}

/* h1 {
  color: rgba(12, 37, 198, 0.936);
}
p {
  color: rgb(0, 0, 0);
}

.a1 {
  color: rgb(255, 0, 0);
}
.a2 {
  color: rgb(0, 100, 47);
}
.a3 {
  color: rgb(18, 127, 210);
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
} */
