
:root{
  --nred:#ef476f;
}
.grid-container{
  padding: 0rem;
  display: grid;
  grid-template: repeat(minmax(auto-fit, 4))/repeat(4,1fr) ;

}
.grid-item-1
{
  margin: .5rem;
  grid-area: 2/1/5/4;


}
.grid-item-2
{
    margin: 0.5rem;
    grid-area: 1/1/1/4;


}
.grid-item-3
{
  margin: .5rem;
  grid-area: 1/4/6/4;

}


.grid-item{
  padding: 2rem;
    display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 1rem;
}
.box:nth-child(2) {
  flex: 2 2 1rem;
  order: 4;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-evenly;
  gap: 2rem;
}

.outer-container {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.relative {
  /* position: relative;

  top: -4rem;
  left: 15rem; */
}
.fixed {
  /* position: fixed; */
  top: 0rem;
}
.sticky {
  position: sticky;
  top: 0;
}
.col-div {
  padding: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;

}
.columns {
  columns: 3 7rem;
  column-gap: 3rem;
  column-rule: 10px solid #118ab2;
}
.fsection {
  display: flow-root;
}
.float {
  background-color: var(--nred);
  width: auto;
  height: auto;
  float: left;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0rem;
}
.float2 {
  background-color: var(--nred);
  width: auto;
  height: auto;
  float: right;
  margin: 1rem;
  margin-top: 10rem;
  line-height: 20rem;
  font-size: 2rem;
  padding: 0rem;
}

.d1 {
  background-color: #0096c7;
  margin-bottom: 2rem;
}
.inline {
  display: inline-block;
  background-color: #073b4c;
  border: solid 0.65rem var(--nred);
  padding: 4rem;
  margin-inline: 3rem;
}

.block {
  background-color: #073b4c;
  border: solid 0.65rem var(--nred);
  padding: 4rem;
  margin: 1rem;
}



.menu {
  border: 6px solid var(--nred);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  background-color: #073b4c;
}
.menu li {
  list-style-type: none;
}

/* .margin:hover .bmContainer {
  border-color: #06d6a0;
} */

.bmContainer {
  padding: 1.5rem;
  margin: 2rem;
  text-align: center;
  font-weight: 800;
  border: 13px solid aliceblue;
  margin: 3rem;
}

.type {
  background-color: #073b4c;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: justify;
  text-indent: 2rem;
  line-height: 2;
  letter-spacing: 0.2rem;
  word-spacing: 5rem;
  font-weight: 800;
  font-style: oblique;
  font-family: "Roboto Flex";
  margin: 3rem 3rem 2rem 3rem;
  padding: 2rem;
}

.links {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  list-style-position: inside;
  margin-bottom: 2rem;
}
a {
  color: aliceblue;
  text-decoration: inherit;
}

.list ol {
  list-style-position: inside;
  list-style-type: lower-alpha;
  color: aliceblue;
}
.list ul {
  list-style-position: inside;
  color: aliceblue;
  list-style-type: square;
}

h1 {
  text-align: center;
  color: aliceblue;
  font-size: 2.65rem;
}
h2 {
  color: aliceblue;
  font-size: 1.75rem;
}
h3 {
  color: aliceblue;
  font-size: 1.25rem;
}
div {
  border: solid 0.6rem var(--nred);
  background-color: #073b4c;
  padding: clamp(1rem, 3vw, 3rem);
  margin: clamp(1rem, 3vw, 2rem);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #118ab2;
  color: aliceblue;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.25rem;
}

section {
  font-weight: 800;
  text-align: center;
  border: 6px solid var(--nred);
  padding: clamp(1rem, 4vw, 10rem);
  margin-bottom: clamp(1rem, 3vw, 4rem);
  align-self: center;
}

/* @media (width <= 930px) { 
  section{
    
    padding: 1rem;
    margin: 1rem; 
  }
 }
@media (width <= 650px) { 

  div{
    
    padding: 1rem;
    margin: 1rem; 
  }
 } */

/* li:hover,
ol:hover,
div:hover,
a:hover,
h1:hover,
h2:hover,
h3:hover,
.bmContainer:hover,
.type:hover,
.d1:hover .block,
.d1:hover .inline {
  color: #06d6a0;
  border-color: #06d6a0;
} */

/* section:hover,
section:hover h1,
.menu:hover {
  border-color: #06d6a0;
}

.menu:hover h1,
section:hover h1 {
  color: #06d6a0;
} */
